.recipeInfoContainer {
  background-image: url("../../assets/background2.jpg");
  background-size: 100%;
  height: fit-content !important;
  height: 800px;
  min-height: 500px !important;
  margin: 0 !important;
  padding: 0 !important;
  font-family: "Tiro Devanagari Marathi", serif;
}

.recipeInfoHeader {
  text-align: center;
  font-weight: bold;
  font-size: 3.5rem;
  letter-spacing: 2.5;
  color: #990000;
  padding-top: 15px;
}

.recipeInfoImg {
  width: 500px;
  height: 300px;
  margin-left: 32%;
  margin-top: 15px;
  border-radius: 10px;
  box-shadow: 3px 3px 3px rgb(87, 87, 87);
}

.ingredientsHeader {
  text-align: center;
  font-weight: bold;
  letter-spacing: 2.5;
  color: #990000;
  margin-top: 25px;
}

.ingredients {
  margin-bottom: 0 !important;
  padding-bottom: 20px;
  width: 30%;
  position: relative;
  left: 35%;
  line-height: 2 !important;
}

.instructions {
  text-align: center;
  margin-bottom: 0 !important;
  padding-bottom: 20px;
  position: relative;
  left: 25%;
  line-height: 2 !important;
  width: 50%;
}

.instructionsUl {
  list-style-type: none;
}

@media (max-width: 1200px) {
  .recipeInfoContainer {
    height: fit-content !important;
  }

  .recipeInfoImg {
    width: 50%;
    height: 50%;
    margin-left: 25%;
  }

  .ingredients {
    width: 50%;
    left: 25%;
  }

  .instructions {
    margin-bottom: 0 !important;
    height: max-content !important;
    left: 10%;
    width: 80%;
    padding-bottom: 150px;
  }
}
