.popup-wrapper {
  font-family: "Tiro Devanagari Marathi", serif;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 40%;
  height: 90%;
  transform: translate(-50%, -50%);
  background-color: #f4eea9;
  border: solid black 1px;
  border-radius: 10px;
  padding: 2rem;
}

.updateLabel {
  font-size: 18px;
  font-weight: 600;
}

.updateBtn {
  background-color: orange !important;
  color: white !important;
  font-size: 20px !important;
}

.popup-wrapper {
  position: fixed;
  top: 350px;
  left: 700px;
}

@media (max-width: 1400px) {
  .popup-wrapper {
    position: fixed;
    top: 500px;
    left: 50%;
    width: 50%;
    height: 60%;
  }
}
