.forgotHeader {
  font-size: 2.5rem;
  margin-left: 150px;
  padding-top: 30px !important;
}

.forgotForm {
  width: 70% !important;
  margin-left: 40px;
}

.forgotBtn {
  margin-bottom: 15px !important;
}

.formGroup1 {
  margin-top: 0 !important;
}

.forgotFormControlLabel {
  font-size: 20px !important;
}

@media (min-width: 768px) and (max-width: 1400px) {
  .forgotHeader {
    font-size: 3.5rem;
  }

  .forgotForm {
    width: 300px !important;
    margin-left: 15%;
  }

  .formControlForgot {
    width: 300px !important;
  }
}
